.badge{
  position: absolute;
  top: 0;
  right: 0;
  height: 55px;
  width: 150px;
  background: #343A40;
  display :block;
  color:#343A40;
}

.badge:empty {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 55px;
  width: 150px;
  background: #202426;
  display :block;
}

.neigh {
  float: left;
  display: block;
  width:155px;
  margin-bottom: 5px;
}


.ke{
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
}

.brown {
  background-color: #663333 !important;
  color: white !important;
}

.brown:hover {
  background-color: #541D1D !important;
  color: white !important;
}


.disabled {
  pointer-events: none;
  opacity: 0.4;
}
.noAnchor{
  cursor:pointer;
  color:rgb(51, 162, 255);
}

.noAnchor:hover{
  cursor:pointer;
  color:rgb(134, 201, 255);
  text-decoration:underline;
}